# Python Cheatsheet

## Python Basics

### Hello World

In [148]:
 print("Hello, World!")

Hello, World!

### Indentation

In [149]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

### Comments

In [150]:
#This is a comment
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Hello, World!

### Variables

#### Definition

In [151]:
x = 5
y = "John"
print(x)
print(y)

5
John

#### Type

In [152]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#### String Quotes

In [153]:
x = "John"
# is the same as
x = 'John'

#### Case sensitive

In [154]:
 a = 4
A = "Sally"
#A will not overwrite a

#### Illegal variable names

In [155]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-155-0e82719f22b4>, line 1)

#### Many to many

In [ ]:
 x, y, z = "Orange", "Banana", "Cherry"

#### One to many

In [ ]:
x = y = z = "Orange"

#### Unpacking

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

#### Concatenation

In [ ]:
x = "awesome"
print("Python is " + x)
print("Python is " + x + " " + "Yay!")

#### Globals

In [ ]:
x = "out"

def myfunc():
  x = "in"
  print(x)

myfunc()

print(x)

In [ ]:
x = "out"

def myfunc():
  global x
  x = "in"

myfunc()

print(x)

### Data Types

#### Text

In [ ]:
x = "Hello World" # str
print(type(x))

#### Numeric

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 20 # int
print(type(x))

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 20.5 # float
print(type(x))

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 1j # complex
print(type(x))

Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

Random Numbers

In [ ]:
import random

print(random.randrange(1, 42))

#### Sequence

In [156]:
x = ["apple", "banana", "cherry"] # list
print(type(x))

<class 'list'>

In [157]:
x = ("apple", "banana", "cherry") # tuple
print(type(x))

<class 'tuple'>

In [158]:
x = range(6) # range
print(type(x))

<class 'range'>

#### Mapping

In [159]:
x = {"name" : "John", "age" : 36} # dict
print(type(x))

<class 'dict'>

#### Set

In [160]:
x = {"apple", "banana", "cherry"} # set
print(type(x))

<class 'set'>

In [161]:
x = frozenset({"apple", "banana", "cherry"}) # frozenset
print(type(x))

<class 'frozenset'>

#### Boolean

In [162]:
x = True # bool
print(type(x))

<class 'bool'>

#### Binary

In [163]:
x = b"Hello" # bytes
print(type(x))

<class 'bytes'>

In [164]:
x = bytearray(5) # bytearray
print(type(x))

<class 'bytearray'>

In [165]:
x = memoryview(bytes(5)) # memoryview
print(type(x))

<class 'memoryview'>

#### Casting

int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)

In [166]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

In [167]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [168]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Strings

#### Multiline

In [169]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Strings are Arrays

In [170]:
a = "Hello, World!"
print(a[1])

e

#### Iterating over characters

In [171]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#### String Length

In [172]:
a = "Hello, World!"
print(len(a))

13

#### Contains

In [173]:
txt = "The best things in life are free!"
print("free" in txt)
print("expensive" not in txt)

True
True

#### Slicing

In [174]:
b = "Hello, World!"

# get characters 2 to 5 (not included)
print(b[2:5])

# get characters start to 5 (not included)
print(b[:5])

# get characters 2 to end
print(b[2:]) 

# get characters -5 to -2 (negative indexes start from the end of the string)
print(b[-5:-2])

llo
Hello
llo, World!
orl

#### Manipulating

In [175]:
a = "Hello, World!"
print(a.upper()) # upper-case
print(a.lower()) # lower-case
print(" Hello, World! ".strip()) # Remove whitespace from beginning or end
print(a.replace("H", "J")) # Replace H with J
print(a.split(",")) # Split comma separated string into substrings

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

#### Format

In [176]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))
myorder = "I want {2} pieces of item {1} for {0} dollars." # place arguments based on index
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.
I want 49.95 pieces of item 567 for 3 dollars.

#### Escape Characters

\' 	    Single Quote 	
\\ 	    Backslash 	
\n 	    New Line 	
\r 	    Carriage Return 	
\t 	    Tab 	
\b 	    Backspace 	
\f 	    Form Feed 	
\ooo 	Octal value 	
\xhh 	Hex value

In [177]:
txt = "\"Double Quotes\""
print(txt)
txt = "\'Single Quotes\'"
print(txt)
txt = "Backslash\\"
print(txt)

"Double Quotes"
'Single Quotes'
Backslash\

#### String Methods

In [178]:
capitalize() # Converts the first character to upper case
casefold() # Converts string into lower case
center() # Returns a centered string
count() # Returns the number of times a specified value occurs in a string
encode() # Returns an encoded version of the string
endswith() # Returns true if the string ends with the specified value
expandtabs() # Sets the tab size of the string
find() # Searches the string for a specified value and returns the position of where it was found
format() # Formats specified values in a string
format_map() # Formats specified values in a string
index() # Searches the string for a specified value and returns the position of where it was found
isalnum() # Returns True if all characters in the string are alphanumeric
isalpha() # Returns True if all characters in the string are in the alphabet
isdecimal() # Returns True if all characters in the string are decimals
isdigit() # Returns True if all characters in the string are digits
isidentifier() # Returns True if the string is an identifier
islower() # Returns True if all characters in the string are lower case
isnumeric() # Returns True if all characters in the string are numeric
isprintable() # Returns True if all characters in the string are printable
isspace() # Returns True if all characters in the string are whitespaces
istitle() # Returns True if the string follows the rules of a title
isupper() # Returns True if all characters in the string are upper case
join() # Joins the elements of an iterable to the end of the string
ljust() # Returns a left justified version of the string
lower() # Converts a string into lower case
lstrip() # Returns a left trim version of the string
maketrans() # Returns a translation table to be used in translations
partition() # Returns a tuple where the string is parted into three parts
replace() # Returns a string where a specified value is replaced with a specified value
rfind() # Searches the string for a specified value and returns the last position of where it was found
rindex() # Searches the string for a specified value and returns the last position of where it was found
rjust() # Returns a right justified version of the string
rpartition() # Returns a tuple where the string is parted into three parts
rsplit() # Splits the string at the specified separator, and returns a list
rstrip() # Returns a right trim version of the string
split() # Splits the string at the specified separator, and returns a list
splitlines() # Splits the string at line breaks and returns a list
startswith() # Returns true if the string starts with the specified value
strip() # Returns a trimmed version of the string
swapcase() # Swaps cases, lower case becomes upper case and vice versa
title() # Converts the first character of each word to upper case
translate() # Returns a translated string
upper() # Converts a string into upper case
zfill() # Fills the string with a specified number of 0 values at the beginning

NameError: name 'capitalize' is not defined

### Booleans

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

#### True Values
* Any string is True, except empty strings.
* Any number is True, except 0.
* Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
print(bool("Hello"))
print(bool(15))

#### False Values

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

### Operators

#### Arithmetic

In [ ]:
print("1 + 2 -> {}".format(1 + 2)) # Addition
print("1 - 2 -> {}".format(1 - 2)) # Subtraction
print("1 * 2 -> {}".format(1 * 2)) # Multiplication
print("1 / 2 -> {}".format(1 / 2)) # Division
print("1 % 2 -> {}".format(1 % 2)) # Modulus
print("1 ** 2 -> {}".format(1 ** 2)) # Exponentiation
print("1 // 2 -> {}".format(1 // 2)) # Floor division

#### Assignment

In [ ]:
print("x += 3  -> x = x + 3")  # +=
print("x -= 3  -> x = x - 3")  # -=
print("x *= 3  -> x = x * 3")  # *=
print("x /= 3  -> x = x / 3")  # /=
print("x %= 3  -> x = x % 3")  # %=
print("x //= 3 -> x = x // 3") # //=
print("x **= 3 -> x = x ** 3") # **=
print("x &= 3  -> x = x & 3")  # &=
print("x |= 3  -> x = x | 3")  # |=
print("x ^= 3  -> x = x ^ 3")  # ^=
print("x >>= 3 -> x = x >> 3") # >>=
print("x <<= 3 -> x = x << 3") # <<=

#### Comparison

In [ ]:
x = 1
y = 2
x == y # Equal
x != y # Not equal
x > y  # Greater than
x < y  # Less than
x >= y # Greater than or equal to
x <= y # Less than or equal to

#### Logical

In [ ]:
x = 1
x < 5 and  x < 10     # and - true if both are true
x < 5 or x < 4        # or - true if one is true
not(x < 5 and x < 10) # not - reverse result

#### Identity

In [ ]:
x = 1
y = x
print(x is y)     # True if both are the same object
print(x is not y) # True if both are not the same object

#### Membership

In [ ]:
x = 1
y = [x, "something"]
print(x in y)     # True if a sequence with the value is present in the object
print(x not in y) # True if a sequence with the value is not present in the object

#### Bitwise

In [ ]:
x = 42
y = 35

print(str(x) + ": " + bin(x))
print(str(y) + ": " + bin(y))

print("101010 &  100011  -> " + bin(x & y))  # AND Sets each bit to 1 if both bits are 1
print("101010 |  100011  -> " + bin(x | y))  # OR Sets each bit to 1 if one of two bits is 1
print("101010 ^  100011  -> " + bin(x ^ y))  # XOR Sets each bit to 1 if only one of two bits is 1
print("~101010          -> " + bin(~x))     # NOT Inverts all the bits
print("101010 << 100011 -> " + bin(x << y)) # Shift left by pushing zeros in from the right and let the leftmost bits fall off
print("101010 >> 100011 -> " + bin(x >> y)) # Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

### Lists

In [ ]:
# List creation
thislist = ["apple", "banana", "cherry"]
print(thislist)

# Can have duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

# List Length
print(len(thislist))

# Can contain any data types
list1 = ["abc", 34, True, 40, "male"] 

# List Constructor
thislist = list()
print(thislist)

#### Access List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1]) # Print the second item of the list
print(thislist[-1]) # Negative indexing means start from the end (-1 refers to the last item)
print(thislist[1:3]) # Range of Indexes
print(thislist[:3]) # By leaving out the start value, the range will start at the first item
print(thislist[2:]) # By leaving out the end value, the range will go on to the end of the list
print(thislist[-2:-1]) # Start the search from the end of the list

#### Change List Items
* If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.
* If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant" # Change by index
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"] # Change a range of values
print(thislist)

#### Add List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist.insert(1, "orange") # Insert a new list item, without replacing any of the existing values
print(thislist)

tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical) # Append elements from another iterable object to the current list 
thislist.extend(("kiwi", "orange"))
print(thislist)

#### Remove List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana") # remove specified item
print(thislist)

thislist.pop(1) # remove by index, without index it removes the last item
print(thislist)

del thislist[0] # remove by index
print(thislist)

thislist.clear() # empties the list

del thislist # deletes the list

#### Iterate Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
# for x in list
for x in thislist:
  print(x)

# for loop
for i in range(len(thislist)):
  print(thislist[i])

# while loop
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

# list comprehension loop
[print(x) for x in thislist]

#### List Comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# Create a new list based on the values of an existing list
# ..using a for loop
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

# ..using list comprehension
newlist = [x for x in fruits if "a" in x]

print(newlist)

##### Syntax
newlist = [***expression*** for ***item*** in ***iterable*** if ***condition*** == True]

##### Iterable

In [ ]:
newlist = [x for x in range(10)] # List with values from 0-10 (not including 10)
print(newlist)

newlist = [x for x in range(10) if x < 5] # List with values 
print(newlist)

##### Expression

In [ ]:
fruits = ["apple", "banana", "cherry"]

newlist = [x.upper() for x in fruits]
print(newlist)

newlist = ['hello' for x in fruits] 
print(newlist)

#### Sorting

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort() # Sort the list alphabetically (case sensitive) / numerically
thislist.sort(key = str.lower) # Sort the list alphabetically (case insensitive)
print(thislist)

thislist.sort(reverse = True) # Sort descending
print(thislist)

thislist.reverse() # Reverse the list
print(thislist)

# Custom Sorting
def myfunc(n):
  return abs(n - 50)

thatlist = [100, 50, 65, 82, 23]
thatlist.sort(key = myfunc)
print(thatlist)

#### Copy Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # Copy the list
print(mylist)

#### Join Lists

In [ ]:
# Using + operator
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

# Appending one by one
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1) 

# Using extend()
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

#### List Methods

In [ ]:
append() # Adds an element at the end of the list
clear() # Removes all the elements from the list
copy() # Returns a copy of the list
count() # Returns the number of elements with the specified value
extend() # Add the elements of a list (or any iterable), to the end of the current list
index() # Returns the index of the first element with the specified value
insert() # Adds an element at the specified position
pop() # Removes the element at the specified position
remove() # Removes the item with the specified value
reverse() # Reverses the order of the list
sort() # Sorts the list

### Tuples
Tuple items are ordered, unchangeable, and allow duplicate values. It's not possible to change, add or remove items after the tuple has been created.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

#### Create

In [ ]:
thistuple = ("apple",) # Tuple
thistuple = ("apple")  # NOT a tuple
thistuple = tuple(("apple", "banana")) # double round-brackets
thattuple = ("abc", 34, True, 40, "male")
print(type(thattuple))

#### Access

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

#### Update
Once a tuple is created, you cannot add items to it!

In [179]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple

#### Unpack

In [ ]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

##### Using Asterix *

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print("\n")

(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

#### Loop

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x) 

for i in range(len(thistuple)):
  print(thistuple[i]) 

i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

#### Join Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

tuple4 = tuple1 * 2
print(tuple4)

#### Tuple Methods

In [ ]:
count() # Returns the number of times a specified value occurs in a tuple
index() # Searches the tuple for a specified value and returns the position of where it was found

### Sets
A set is a collection which is unchangable, unordered and unindexed. Sets are unordered, so you cannot be sure in which order the items will appear. Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
thisset = {"apple", "banana", "cherry"}
set1 = {"abc", 34, True, 40, "male"}
set2 = set(("apple", "banana", "cherry")) # double round-brackets
print(type(set1))
print(thisset)
print(len(thisset))

#### Duplicates Not Allowed

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

#### Access Items
You cannot access items in a set by referring to an index or a key.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x) 

print("banana" in thisset)

#### Add / Remove Items

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset) 

thisset.update({"pineapple"})
thisset.update(["mango"])
print(thisset)

If the item to remove does not exist, remove() will raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
thisset.discard("42")
print(thisset)

Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.pop() # removes last item
print(thisset)

The clear() method empties the set

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

#### Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

#### Join Sets

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

#### Set Methods

In [180]:
add() # Adds an element to the set
clear() # Removes all the elements from the set
copy() # Returns a copy of the set
difference() # Returns a set containing the difference between two or more sets
difference_update() # Removes the items in this set that are also included in another, specified set
discard() # Remove the specified item
intersection() # Returns a set, that is the intersection of two other sets
intersection_update() # Removes the items in this set that are not present in other, specified set(s)
isdisjoint() # Returns whether two sets have a intersection or not
issubset() # Returns whether another set contains this set or not
issuperset() # Returns whether this set contains another set or not
pop() # Removes an element from the set
remove() # Removes the specified element
symmetric_difference() # Returns a set with the symmetric differences of two sets
symmetric_difference_update() # inserts the symmetric differences from this set and another
union() # Return a set containing the union of sets
update() # Update the set with the union of this set and others

NameError: name 'add' is not defined

### Dictionaries
A dictionary is a collection which is unordered, changeable and does not allow duplicates. Dictionary items are unordered, changeable, and does not allow duplicates.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))

#### Access Items

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x = thisdict.get("model")

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

print(car.keys())
print(car.values())

The items() method will return each item in a dictionary, as tuples in a list. The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [ ]:
print(car.items())

#### Change Items

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict.update({"model": "Bronco"}) 
print(thisdict)

#### Add / Remove Items

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
thisdict.update({"condition": "new"}) 
print(thisdict)

thisdict.pop("model")
print(thisdict)

thisdict.clear()
del thisdict

#### Loop Dictionaries

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Print all key names")
for x in thisdict:
  print(x) 

print("\nPrint all key names")
for x in thisdict.keys():
  print(x) 

print("\nPrint all values")
for x in thisdict:
  print(thisdict[x]) 

print("\nPrint all values")
for x in thisdict.values():
  print(x) 

print("\nPrint keys and values")
for x, y in thisdict.items():
  print(x, y)

#### Copy Dictionaries

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict1 = thisdict.copy()
dict2 = dict(thisdict)
print(dict1)
print(dict2)

#### Nested Dictionaries

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}

myfamily = {
  "child1" : child1,
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  }
}

print(myfamily)

#### Dictionary Methods

In [ ]:
clear() # Removes all the elements from the dictionary
copy() # Returns a copy of the dictionary
fromkeys() # Returns a dictionary with the specified keys and value
get() # Returns the value of the specified key
items() # Returns a list containing a tuple for each key value pair
keys() # Returns a list containing the dictionary's keys
pop() # Removes the element with the specified key
popitem() # Removes the last inserted key-value pair
setdefault() # Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update() # Updates the dictionary with the specified key-value pairs
values() # Returns a list of all the values in the dictionary

### If..Else

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
if a > b: print("a is greater than b") 
print("A") if a > b else print("B") 
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
if 200 > 33 and 500 > 100:
  print("Both conditions are True")
if 200 > 33 or 100 > 100:
  print("At least one of the conditions is True")

In [ ]:
if 2 > 1:
  pass

### While Loops

In [ ]:
 i = 1
while i < 6:
  print(i)
  i += 1

`break` stop the loop even if the while condition is true

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

`continue` stops the current iteration, and continue with the next

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

`else` runs a block of code once when the condition no longer is true

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

### For Loops

In [181]:
for x in range(6):
  print(x)

0
1
2
3
4
5

`break` stop the loop even if the while condition is true

In [182]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

`continue` stops the current iteration, and continue with the next

In [183]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

`else` runs a block of code once when the condition no longer is true

In [184]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### Functions

In [185]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

#### Arguments

In [186]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")

Emil Refsnes

#### Arbitrary Arguments

In [187]:
def my_function(*args):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

NameError: name 'kids' is not defined

#### Keyword Arguments

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

#### Arbitrary Keyword Arguments **kwargs

In [ ]:
def my_function(**kwargs):
  print("His last name is " + kwargs["lname"])

my_function(fname = "A", lname = "B")

#### Default Parameter Value

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function()

#### List Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

#### Recursion

In [ ]:
def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fib(n - 1) + fib(n - 2)

print(fib(10))

### Lambda Functions
A lambda function is a small anonymous function. It can take any number of arguments, but can only have one expression.

$ lambda \ arguments : expression $

In [ ]:
# Add 10 to a and return
x = lambda a : a + 10
print(x(5))

In [ ]:
# Multiply a with b and return
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

## Analysis

### Sequences and Series

A sequence is a functions whose domain is $ \mathbb{N} $ which in the following it is written as $ f(n)_{n\in \mathbb{N}^+} $ or shorter $(a_n)$ or even shorter just $a_n$.

A (infinite) series is defined as 
$ 
\sum\limits_{n=1}^\infty a_n 
= a_0 + a_1 + a_2 + a_3 + ... 
: a_n 
\in \mathbb{R} \ or \  \mathbb{C} 
$

In [ ]:
from fractions import Fraction

def viewGen(gen, n): # return first n results of generator
    c = 1 # counter
    L = [] # empty list to collect results
    for x in gen:
        if c > n: # return if counter is higher than n
            return L
        c += 1 # increase counter
        L.append(x) # append n-tht result to the list
        
def someValues(seq, L = [10 ** k for k in range(10)]):
    for n in L:
        print("{:>15}: {}".format(n, seq(n)))

$ (3^n) $

In [ ]:
def seq1():
    val = 1
    while True:
        yield val
        val *= 3

viewGen(seq1(), 10)

#### Graphic Representation

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(range(1,11), viewGen(seq1(), 10))

In [ ]:
plt.scatter(viewGen(seq1(), 10), [0] * 10 )

#### Monotone and bounded

* **monotonically increasing**:  
$ a_n \leq a_{n+1} $
* **monotonically decreasing**:  
$ a_n \geq a_{n+1} $
* **strictly monotonically increasing**  
$ a_n < a_{n+1} $ and $ a_n > a_{n+1} $
* **bounded below**: 
$ a_n \leq K : K \in \mathbb{R} $
* **bounded above**: 
$ a_n \geq k : k \in \mathbb{R} $
* **bounded**: $ k \leq a_n \leq K $

#### Convergence

The sequence $ (a_n) $ converges against $a$ is written as

$ 
\lim \limits_{n \to \infty}(a_n) = a $ or
$ (a_n) \xrightarrow[n \rightarrow\infty]{} a $ or simply $ (a_n) \xrightarrow{} a $

$ (\frac{n}{n+1}) \xrightarrow{} 1 $

In [188]:
someValues(lambda n : n / (n+1), range(10))

              0: 0.0
              1: 0.5
              2: 0.6666666666666666
              3: 0.75
              4: 0.8
              5: 0.8333333333333334
              6: 0.8571428571428571
              7: 0.875
              8: 0.8888888888888888
              9: 0.9

In [189]:
# The sequence converges to 1
# But this is not a mathematical proof!
someValues(lambda n : n / (n+1))

              1: 0.5
             10: 0.9090909090909091
            100: 0.9900990099009901
           1000: 0.999000999000999
          10000: 0.9999000099990001
         100000: 0.999990000099999
        1000000: 0.999999000001
       10000000: 0.99999990000001
      100000000: 0.9999999900000001
     1000000000: 0.999999999

#### Math rules for converging sequences

* $ \lim \limits_{n \to \infty}(c * a_n) 
= c * a : c \in \mathbb{R}$
* $ \lim \limits_{n \to \infty}(a_n \pm b_n) 
= a \pm b$
* $ \lim \limits_{n \to \infty}(a_n * b_n) 
= a * b$
* $ \lim \limits_{n \to \infty}(\frac{a_n}{b_n}) = \frac{a}{b} : b \neq 0 $

#### Divergent Sequences

If most elements $a_n > 0 $ the sequence is called **definite divergent to $\infty$** and written as  

$ \lim \limits_{n \to \infty} a_n = \infty $
if $\frac{1}{a_n} \xrightarrow{} 0 $

If most elements $a_n < 0 $ the sequence is called **definite divergent to $-\infty$** and written as  

$ \lim \limits_{n \to \infty} a_n = -\infty $
if $\frac{1}{a_n} \xrightarrow{} 0 $

$ (2^n) \xrightarrow{} \infty $

$ (-n^2) \xrightarrow{} -\infty  $

$ (n+(-1)^n) \xrightarrow{} \infty  $

#### Harmonic Sequence

$ (\frac{1}{n}) = \sum\limits_{n=1}^\infty \frac{1}{n} = \frac{1}{1} + \frac{1}{2} + \frac{1}{3} + \frac{1}{4} + ...$

In [190]:
def harmonic():
    n = 1 # Counter
    while True: # Infinite loop
        yield Fraction(1,n) # yield 1/n
        n += 1 # Increase counter

viewGen(harmonic(), 10)

[Fraction(1, 1),
 Fraction(1, 2),
 Fraction(1, 3),
 Fraction(1, 4),
 Fraction(1, 5),
 Fraction(1, 6),
 Fraction(1, 7),
 Fraction(1, 8),
 Fraction(1, 9),
 Fraction(1, 10)]

#### Alternating Sequence

$ \frac{1}{(-2)^n} = (-1)^n*\frac{1}{2^n} $

In [191]:
def alternating():
    val = Fraction(1)
    while True:
        yield val
        val *= -Fraction(1,2)

viewGen(alternating(), 10)

[Fraction(1, 1),
 Fraction(-1, 2),
 Fraction(1, 4),
 Fraction(-1, 8),
 Fraction(1, 16),
 Fraction(-1, 32),
 Fraction(1, 64),
 Fraction(-1, 128),
 Fraction(1, 256),
 Fraction(-1, 512)]

#### Geometric

$ (q^n) \longrightarrow 0 $ for $ |q| < 1 $

$ |q| > 1 $ diverges

$ (\frac{2}{3}^n) \longrightarrow 0 $

$ \lim \limits_{n \to \infty}(\frac{2}{3}^n) = 0 $ but $ \lim \limits_{n \to \infty}(\frac{3}{2}^n) = \infty $

In [192]:
# The sequence converges to 0
# The values 0.0 are math errors (numbers get too small)
someValues(lambda n : (2/3)**n)

              1: 0.6666666666666666
             10: 0.017341529915832606
            100: 2.4596544265798157e-18
           1000: 8.104774656527117e-177
          10000: 0.0
         100000: 0.0
        1000000: 0.0
       10000000: 0.0
      100000000: 0.0
     1000000000: 0.0

#### Squares

$ \lim \limits_{n \to \infty}(\sqrt[n]{a}) = 1 $ for $a>0$, the same for $ (\sqrt[n]{n}) $

$ (\sqrt[n]{42}) \longrightarrow 1 $

Note: $ \sqrt[n]{a} = a^{1/n} $

In [193]:
someValues(lambda n : 42 ** (1/n))

              1: 42.0
             10: 1.4531984602822678
            100: 1.0380839894716327
           1000: 1.0037446634161584
          10000: 1.0003738368214026
         100000: 1.0000373773947002
        1000000: 1.0000037376766033
       10000000: 1.0000003737670318
      100000000: 1.0000000373766968
     1000000000: 1.0000000037376697

#### Fractions

$ \lim \limits_{n \to \infty}(\frac{n^p}{b^n}) = 0 : p\in\mathbb{N}, |b|>1$

In [194]:
someValues(lambda n : (n ** 3)/(2 ** n))

              1: 0.5
             10: 0.9765625
            100: 7.888609052210118e-25
           1000: 9.332636185032189e-293
          10000: 0.0
         100000: 0.0
        1000000: 0.0
       10000000: 0.0
      100000000: 0.0
     1000000000: 0.0

$ \lim \limits_{n \to \infty}(\frac{b^n}{n!}) = 0 : b\in\mathbb{R}$

In [195]:
from math import factorial
someValues(lambda n : (5 ** n) / factorial(n), [1, 2, 10, 20, 100])

              1: 5.0
              2: 12.5
             10: 2.6911444554673722
             20: 3.919904349624791e-05
            100: 8.45272575844283e-89

#### Exponential

$ ((1+\frac{1}{n})^n) \xrightarrow[n \rightarrow\infty]{} \newcommand*\euler{\mathrm{e}}\approx 2.7 $

In [196]:
someValues(lambda n : (1 + 1/n)**n)

              1: 2.0
             10: 2.5937424601000023
            100: 2.7048138294215285
           1000: 2.7169239322355936
          10000: 2.7181459268249255
         100000: 2.7182682371922975
        1000000: 2.7182804690957534
       10000000: 2.7182816941320818
      100000000: 2.7182817983473577
     1000000000: 2.7182820520115603

#### Recursively-defined Sequence

Elements are described via their previous element.

$ a_1 = 1 $,  
$ a_2 = 2a_1 $,  
$ a_3 = 3a_2 $,  
...

$ 1,2,6,26,120... $

In [197]:
def rec1(s, n):
    yield s*n
    yield from rec1(s*n, n + 1)

viewGen(rec1(1, 1), 10)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

$ a_1 = 1 $,  
$ a_2 = a_1 + 1 $,  
$ a_3 = a_2 + 1 $,  
...

$ 1,2,3,4,5... $

In [198]:
def rec2(n):
    yield n
    yield from rec2(n + 1)

viewGen(rec2(1), 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Fibonacci

The Fibonacci sequence is defined as 

1. $ f(0) = f(1) = 1 $

2. $ f(n) = f(n-1) + f(n-2) $

$ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, … $

In [199]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

viewGen(fib(), 13)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [200]:
def fib_rec(s = 0, n = 1):
    if s == 0:
        yield 0
    if s == 0 and n == 1:
        yield 1
    yield s + n
    yield from fib_rec(n, s + n)

viewGen(fib_rec(), 13)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]